/*https://blackrockdigital.github.io/startbootstrap-new-age/*/
/*    // db2431
    // 814190
 #555

*/

/*http://pastebin.com/0PebD9nR*/

/* Control types */

.h1 {
    -fx-font-size: 16pt;
}

.h2 {
    -fx-font-family: Catamaran, Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
    /*-fx-font-weight: bold;*/
    -fx-padding: 15px 0 0 0;
    -fx-text-fill: linear-gradient(to right, #db2431, #814190);
    /*-fx-text-fill: linear-gradient(to right, green, red);*/
}

.h3 {
    -fx-font-family: Catamaran, Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-padding: 10px 0 0 0;
    -fx-text-fill: #555;
}

.p {
    -fx-padding: 5px 0 0 30px;
}

.table {
    -fx-hgap: 10px;
    -fx-vgap: 5px;
}

.table .header {
    -fx-font-family: Catamaran, Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
    -fx-text-fill: #814190;
}

/* Control classes */

.panel {
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-color: #CCCCCC;
    -fx-border-insets: 2px 2px 2px 2px;
    -fx-border-radius: 5px;
}

.panel .scroll-pane {
    -fx-background-color: transparent;
}

/* Default styles */

.b {
    -fx-font-weight: bold;
    -fx-text-fill: #555;
}

/* Glyphicons */

.glyph {
    -fx-font-family: "GLYPHICONS Halflings";
}

/* Control states */

.invalid {
    -fx-control-inner-background: #FFCCCC;
}